<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <main>
            <div class="header">
                <h1>
                    Add New student
                </h1>
            </div>
            <form action="/admin/newstudent" method="post" class="product-form">
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="form-control">
                    <label for="mobileno">Mobile No</label>
                    <input type="text" name="mobileno">
                </div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" name="email">
                </div>
                <div class="form-control">
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob">
                </div>

                <div class="form-control">
                    <label for="xender">Xender</label>
                    <select name="xender" id="">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <button type="submit">Add Student</button>
            </form>
        </main>
        <%- include('../includes/end.ejs')%>