<%- include('../includes/head.ejs')%>
    </head>

    <body>
        <main>
            <div class="main_container">
                <form action="/admin/viewdata" method="post" class="search-container">
                    <input type="text" name="search" placeholder="search id here...">
                    <button type="submit"><i class='bx bx-search'></i></button>
                </form>
            </div>
        </main>
        <%- include('../includes/end.ejs')%>