<section id="header">
    <div class="main-logo logos">
        <a href="/"><img src="/img/logo_2.png" alt="" class="logu"></a>
        <a href="/"><img src="/img/g20-logo.png" alt="" class="logo"></a>
    </div>

    <div>
        <ul id="navbar">
            <% if(userisAuthenticated){%>
                <li><a href="/">Home</a></li>
                <li id="lg-bag"> <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form></li>
                <li>
                    <div class="dropdown">
                        <span>
                            <i class='bx bx-user bx-flip-horizontal' style='color:white'></i>
                        </span>
                        <div class="dropdown-content">
                            <p><a href="#" style="text-decoration:none;">
                                    <%= name%>
                                </a></p>
                            <hr />
                            <p>
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-primary">Logout</button>
                            </form>
                            </p>
                        </div>
                    </div>
                </li>
                <%}else{%>
                    <li>
                        <a href="/login" style="text-decoration:none;">Login</a>
                        <!-- <div class="dropdown">
                            <span><i class='bx bx-user bx-flip-horizontal' style='color:#271a1a'></i></span>
                            <div class="dropdown-content">
                                <p><a href="/signup" style="text-decoration:none;color:black;">Sign Up</a></p>
                                <hr />
                                <p></p>
                            </div>
                        </div> -->
                    </li>
                    <%}%>
                        <a href="#" id="close"><i class="fa-solid fa-circle-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <i class="fa-solid fa-bars" id="bar"></i>
    </div>
</section>

<script src="/js/navbar.js"></script>