<%- include('../includes/head.ejs')%>
    </head>

    <body>
        <main>
            <h1>Student Academic Portal</h1>
            <div class="mainbox_box1">
                <a href="/viewdetail">
                    <button type="submit">
                        <i class='bx bxs-user-detail'></i>
                        <p>View Profile</p>
                    </button>
                </a>
            </div>
           
        </main>
        <%- include('../includes/end.ejs')%>