<%- include('../includes/head.ejs')%>
    </head>

    <body>
        <main>
            <br>
            <h1 style="text-align: center;">Student Academic Portal</h1>
            <P>Invalid adhar id</P>
            <a href="/admin/index">Home</a>
            </div>

        </main>
        <%- include('../includes/end.ejs')%>