<%- include('../includes/head.ejs')%>
</head>

<body>
        <%- include('../includes/enav.ejs')%>
        <main>
            <div class="header">
                <h1>Student academic portal</h1>
            </div>
            <div class="mainbox">
                <div class="mainbox_box1 card1">
                    <!-- <div class="card"> -->
                        <a href="/edu/addinstitute">

                            <button type="submit">
                                <i class="fa-solid fa-school"></i>
                                <div class="container">
                                    <p>New Profile</p>
                                </div>
                            </button>
                        </a>
                    <!-- </div> -->
                </div>
                </div>
        </main>
        <%- include('../includes/end.ejs')%>