<%- include('../includes/head.ejs')%>
    </head>

    <body>
        <%- include('../includes/enav.ejs')%>
            <main>
                <div class="header1 nine">
                    <h1>Student Academic Portal<span>One Stop Solution</span></h1>
                </div>
                <div class="main-container">
                    <div class="item">
                        <div class="item-1">
                            <a href="/edu/addinstitute">

                                <button type="submit">
                                    <i class="fa-solid fa-school"></i>
                                    <div class="detail1">
                                        <h3>New Institute</h3>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-1">
                            <a href="/edu/editinstitue">
                                <button type="submit">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <div class="detail1">
                                        <h3>Update Profile</h3>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-1">
                            <a href="/edu/searchid">
                                <button type="submit">
                                    <i class="fa-solid fa-user-slash"></i>
                                    <div class="container">
                                        <div class="detail1">
                                            <h3>Delete Document</h3>
                                        </div>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs')%>